.capture-button {
  background-color: #B37C57;
  color: #fff;
}

.button {
  background-color: #B37C57;
  color: #fff;
  margin: 10px;
}

.form-input-pers {
  width: 250px;
  margin: 10px auto;
}

.top-margin-15 {
  margin-top: 15px;
}

.font {
  font-family: 'Rubik', sans-serif;
  color: #333;
}
