p {

}

.logo {
  height: 42px;
  margin: 0 5px 20px 15px;
}

.head {
  height: 70px;
  background: #3C455C;
  color: #DDE2E3;
  box-shadow: 0px 5px 5px #999;
}

.header-title {
  margin-left: 10px;
  font-family: 'Kaushan Script', cursive;
  font-size: 44px;
  display: inline;
}
